body {
    font-size: 16px;
    font-family: Arial;
    background-color: #FFFFCC
}

h1 {
    color: red;
    font-weight: bold;
    text-align: center;
    font-family: fantasy;
}

h2 {
    font-family: serif;
    color: #FF00FF; /*choisir une couleur Hexa au choix*/
    font-variant: small-caps;
}

img {
    max-width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

p {
    line-height: 25px;
}

.ligne{
    display: flex;
}

.conteneur{
    margin-left: 100px;
    margin-right: 100px;
}

.game {
    border: 1px solid black;
    padding: 15px 15px 15px 15px;
}

.game h2 {
    text-align: center;
}
